body{
    color: #013048;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5em;
    text-align:justify;
}

#wrapper{
    background-color: #E6F4F1;    
}

figure{
    margin: 0;
}

main{
    padding: 0 4em 2em;
}

a{
    text-decoration: none;
    color: #E6F4F1;
}

#introduction{
    background-color:  #013048;
    color: #E6F4F1;
    min-height: 100vh;
    padding: 0 4em;
}

#introduction article{
    padding: 0;
} 

figure{
    text-align: center;
    padding-top: 2em;
}

figure p, figure h1, figure h6{
    margin: 0;
}

img{
    border-radius: 50%;
    max-height: 25vh;
}

#career h3, #career h4, #career h6{
    margin: 0;
}

#career article{
    margin: 3em 0;
}

#career section{
    margin: 2em 0;
}

#career > section::after{
    content: "";
    display: block;
    background-color: #013048;
    height: 2px;
    width: 90%;
    margin: auto
}

.icon-list{
    list-style-type: none;
    padding: 0;
}

.icon{
    font-size: 2em;
    padding-right: .5em;
}

.icon-list > li{
    display: flex;
    align-items: center;
}

.icon-list > li > p{
    margin: 0;
}

.separation > article::after{
    content: "";
    display: block;
    background-color: #013048;
    height: 1px;
    width: 70%;
    margin: auto;
    margin-bottom: 2em;
}

.separation > :last-child::after {
    content: "";
    display: block;
    background-color: #013048;
    height: 0;
    width: 70%;
    margin: auto
}

#technologies > ul{
    margin-bottom: 2em;
}

@media (min-width: 768px) {
    #introduction{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    img{
        max-height: 35vh;
    }

    #contact{
        margin-right: auto;
        margin-left: auto;
    }

    #about{
        margin-bottom: 8em;
    }

 }

 @media (min-width: 992px) {

    figure{
        margin-left: auto;
        margin-right: auto;
    }

    #introduction{
        max-width: 25%;
        align-content: flex-start;
        padding: 0 1em;
    }

    img{
        max-width: 100%
    }

    #contact{
        margin: 0;
    }

    #wrapper{
        max-width: 1200px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }


 }