body{
    background-color: #E6F4F1;
    color: #013048;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.3em;
    text-align:justify;
}

figure{
    margin: 0;
}

main{
    padding: 0 4em 2em;
}

#introduction{
    background-color:  #013048;
    color: #E6F4F1;
    min-height: 100vh;
    padding: 0 4em;
}

#introduction article{
    padding: 1em 0;
} 

figure{
    text-align: center;
    padding: 2em 0 0;
}

figure p, figure h1{
    margin: 0;
}

img{
    border-radius: 50%;
    max-height: 30vh;
}

#career h3, #career h4, #career h6{
    margin: 0;
}

#career article{
    margin: 3em 0;
}

#career section{
    margin: 2em 0;
}

#career > section::after{
    content: "";
    display: block;
    background-color: #013048;
    height: 2px;
    width: 90%;
    margin: auto
}

.separation > article::after{
    content: "";
    display: block;
    background-color: #013048;
    height: 1px;
    width: 70%;
    margin: auto
}

.separation > :last-child::after {
    content: "";
    display: block;
    background-color: #013048;
    height: 0;
    width: 70%;
    margin: auto
}

#technologies > ul{
    margin-bottom: 2em;
}